<form class="user" [formGroup]="myForm" autocomplete="off">
    <h1 mat-dialog-title> Change Password </h1>
    <div mat-dialog-content>

        <!-- Content Row -->
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="password"> Password: </label>
                    <input type="password" formControlName="password" id="password" name="password"
                        class="form-control">
                    <div class="error input-error" style="width: auto;padding: 5px;"
                        *ngIf="controls.password.invalid && (submitted || (controls.password.dirty || controls.password.touched))">
                        <div *ngIf="controls.password.errors?.required">
                            Password is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="confirmPassword"> Confirm Password: </label>
                    <input type="password" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword"
                        class="form-control">
                    <div class="error input-error" style="width: auto;padding: 5px;"
                        *ngIf="controls.confirmPassword.invalid && (submitted || (controls.confirmPassword.dirty || controls.confirmPassword.touched))">
                        <div *ngIf="controls.confirmPassword.errors?.required">
                            Confirm Password is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button class="btn btn-success" (click)="onAction(true)">Change</button>
        &nbsp;
        <button mat-button class="btn btn-danger" (click)="onAction(false)">Cancel</button>
    </div>
</form>